aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
base58==2.1.1
beautifulsoup4==4.11.1
betterproto==2.0.0b4
bitarray==2.5.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==36.0.2
cytoolz==0.11.2
eth-abi==2.1.1
eth-account==0.5.8
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
Flask==2.1.2
frozenlist==1.3.0
grpclib==0.4.2
h2==4.1.0
hexbytes==0.2.2
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.11.4
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.6.0
lru-dict==1.1.7
MarkupSafe==2.1.1
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
parsimonious==0.8.1
protobuf==3.20.1
pycparser==2.21
pycryptodome==3.14.1
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.6
pywin32==304
requests==2.28.0
rlp==2.0.1
six==1.16.0
soupsieve==2.3.2.post1
steamio==0.8.9
steamsignin==1.0.1
tomli==1.2.3
toolz==0.11.2
typing_extensions==4.0.1
urllib3==1.26.9
varint==1.0.2
web3==5.29.2
websockets==9.1
Werkzeug==2.1.2
yarl==1.7.2
zipp==3.8.0
